/* Webfont: DINPro-Regular */@font-face {
    font-family: 'DINPro', sans-serif;
    src: url('../fonts/DINPro.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DINPro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/DINPro.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/DINPro.woff') format('woff'), /* Modern Browsers */
    url('../fonts/DINPro.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
/* Webfont: DINPro-Medium */@font-face {
    font-family: 'DINPro', sans-serif;
    src: url('../fonts/DINPro-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/DINPro-Medium.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/DINPro-Medium.woff') format('woff'), /* Modern Browsers */
    url('../fonts/DINPro-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}
/* Webfont: DINPro-Bold */@font-face {
    font-family: 'DINPro', sans-serif;
    src: url('../fonts/DINPro-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/DINPro-Bold.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/DINPro-Bold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/DINPro-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}
/* Webfont: DINPro-Black */@font-face {
    font-family: 'DINPro', sans-serif;
    src: url('../fonts/DINPro-Black.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DINPro-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/DINPro-Black.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/DINPro-Black.woff') format('woff'), /* Modern Browsers */
    url('../fonts/DINPro-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}
body{
    font-family: 'DINPro', sans-serif;
}
.container{
    padding-left: 0;
    padding-right: 0;
}
.topmenu{
    background-color: #e7e7e7;
}
.topmenu .navbar{
    margin-bottom: 0;
    margin-left: -15px;
    min-height: 36px;
    border: none;
}
.topmenu ul.nav{
    margin-left: -40px;
}
.topmenu ul.nav li a{
    text-transform: uppercase;
    font-size: 12px;
    color: #404040;
    padding: 8px 20px;
}
.topmenu ul.nav li a:hover{
    background-color: #e7e7e7;
    color: #e33f38;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}
.topmenu .nav-mail{
    color: #404040;
    font-weight: 700;
    padding-top: 9px;
    font-size: 12px;
    margin-left: 68px;
    margin-right: 35px;
}
.topmenu .nav-mail a{
    color: #404040;
    font-weight: 400;
}
.topmenu .nav-mail a:hover{
    text-decoration: none;
}
.nav-lang a{
    font-size: 9px;
    text-transform: uppercase;
    color: #404040;
    padding-bottom:17px;
    width: 32px;
    text-align: center;
    display: block;
    float: left;
    margin-top: 3px;
    border: 1px solid #e7e7e7;
}
.nav-lang a:hover{
    border: 1px solid #8b8b8b;
    border-radius: 4px;
    text-decoration: none;
}
.nav-lang a.ru-lang{
    background: url("../images/ru.png") no-repeat bottom 3px center;
}
.nav-lang a.eng-lang{
    background: url("../images/eng.png") no-repeat bottom 3px center;
}
.nav-lang a.it-lang{
    background: url("../images/it.png") no-repeat bottom 3px center;
}
.topmenu .nav-search{
    margin-left: 20px;
    position: relative;
}
.topmenu .nav-search input{
    width: 205px;
    height: 36px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #e33f38;
    padding-left: 20px;
}
.topmenu .nav-search input::-webkit-input-placeholder {color:#ffffff;}
.topmenu .nav-search input::-moz-placeholder          {color:#ffffff;}/* Firefox 19+ */
.topmenu .nav-search input:-moz-placeholder           {color:#ffffff;}/* Firefox 18- */
.topmenu .nav-search input:-ms-input-placeholder      {color:#ffffff;}

.topmenu .nav-search:before{
    content: " ";
    position: absolute;
    background: url("../images/search.png");
    width: 17px;
    height: 17px;
    right: 12px;
    top: 10px;
}
.topmenu .nav-search input:focus{
    outline: -webkit-focus-ring-color none;
    background-color: #40688d;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}

.mainmenu .row{
    margin-left: -35px;
    padding-bottom: 15px;
}
.mainmenu .nav1{
    padding-left: 0;
    margin-top: 35px;
}
.mainmenu .nav1 li a{
    color: #404040;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}
.mainmenu .nav1 li a.active,
.mainmenu .nav1 li a:hover,
.mainmenu .nav2 li a.active,
.mainmenu .nav2 li a:hover {
    color: #e33f38;
    background-color: #fff;
}
.topmenu .nav>li>a:focus,
footer .nav>li>a:focus{
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0;
    background-color: #e7e7e7;
}
.mainmenu .nav>li>a:focus{
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0;
    background-color: #fff;
}
.mainmenu .nav1 li a .caret{
    margin-left: 10px;
}
.mainmenu .nav2 li a:after{
    content: "";
    background-color: #0068c9;
    width: 5px;
    height: 5px;
    border-radius: 2px;
    margin-bottom: 1px;
    margin-left: 14px;
    display: inline-block;
}
.mainmenu .nav2 li:last-child a:after{
    width: 0;
    height: 0;
}
.mainmenu .nav2 li a{
    color: #404040;
    font-size: 11px;
    line-height: 17px;
    text-transform: uppercase;
    padding: 0 0 0 15px;
}
.mainmenu .logo{
    display: block;
    margin-left: -70px;
    margin-top: 17px;
}
.mainmenu .tel,
.footbottom .tel{
    background: url("../images/tel.png") no-repeat left bottom;
    color: #404040;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 9px;
    width: 175px;
    padding-left: 30px;
    margin-top: 38px;
}
.mainmenu .tel div:last-child,
.footbottom .tel{
    font-weight: 700;
    font-size: 16px;
}
.mainmenu .basket{
    background: url("../images/basket.png") no-repeat left bottom;
    margin-top: 49px;
    margin-left: 55px;
    padding-left: 40px;
    height: 24px;
}
.mainmenu .basket a{
    text-transform: uppercase;
    color: #404040;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.mainmenu .basket a:hover{
    text-decoration: none;
}
.slider{
    padding-left: 0;
    padding-right: 0;
    /*background-color: #b3babd;*/
}
.slider .carousel-inner .item img{
    margin: 0 auto;
    /*height: 485px;*/
    /*width: auto;*/
}
.slider .carousel-control.right{
    background: url("../images/arrow-slider.png") no-repeat right center;
    width: 19px;
    right: 6%;
    opacity: 1;
}
.slider .carousel-control.right:hover{
    background: url("../images/arrow-slider.png") no-repeat left center;
}
.slider .carousel-control.left{
    background: url("../images/arrow-slider.png") no-repeat right center;
    transform: rotate(180deg);
    width: 19px;
    left: 6%;
    opacity: 1;
}
.slider .carousel-control.left:hover{
    background: url("../images/arrow-slider.png") no-repeat left center;
}
.slider .carousel-indicators{
    bottom: 5px;
}
.slider .carousel-indicators li{
    width: 17px;
    height: 17px;
    border: 2px solid #ffffff;
    background: #40688d;
    margin: 0;
    margin-left: 3px;
}
.slider .carousel-indicators li.active{
    background: #e33f38;
}
.slider .carousel-caption{
    width: 450px;
    text-align: left;
    right: 50%;
    margin-right: -545px;
    bottom: 0;
    left: auto;
    text-shadow: none;
    font-size: 16px;
    color: #404040;
    line-height: 24px;
}
.slider .carousel-caption h1{
    font-size: 48px;
    font-weight: 500;
    color: #e33f38;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.slider .carousel-caption ul{
    list-style: none;
    padding-left: 0;
    margin-top: 28px;
    margin-bottom: 45px;
}
.slider .carousel-caption ul li:before{
    content: "";
    width: 5px;
    height: 5px;
    background-color: #404040;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 4px;
}
.red-btn{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 35px;
    background-color: #e33f38;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}
.red-btn:hover{
    background-color: #0068c9;
    -webkit-transition: ease-in all 0.3s;
    -moz-transition: ease-in all 0.3s;
    transition: ease-in all 0.3s;
}
.red-btn:focus {
    outline: -webkit-focus-ring-color auto 0;
}
.company{
    background-color: #fafafa;
    border-bottom:1px solid #e3e3e3;
    padding-bottom: 60px;
}
.company h2, .category h2, .factory h2, .about h2{
    font-weight: 400;
    font-size: 36px;
    color: #404040;
    margin-top: 47px;
    margin-bottom: 40px;
    text-align: center;
}
.company .company-about{
    /*padding-left: 0;*/
    padding-right: 0;
    color: #646464;
    font-size: 16px;
    line-height: 24px;
}
.company .company-about p{
    margin-top: 30px;
}
.company .company-about .sign{
    height: 46px;
    font-weight: 300;
    font-size: 14px;
    margin-top: 27px;
    text-align: right;
    padding-right: 90px;
    padding-top: 10px;
    color: #404040;
    text-transform: uppercase;
    background: url("../images/logo-c.png") no-repeat right;
}
.company .products-about div{
    color: #e33f38;
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
}
.company .products-about ul{
    color: #646464;
    font-size: 14px;
    line-height: 24px;
    list-style: none;
    padding-left: 13px;
    margin-top: 15px;
}
.company .products-about ul li{
    margin-bottom: 6px;
    position: relative;
}
.company .products-about ul li:before{
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 3px;
    background-color: #e33f38;
    position: absolute;
    left: -13px;
    top: 10px;
}
.category{
    padding-bottom: 80px;
}
.category h2{
    margin-bottom: 45px;
}
.category .category-item{
    display: block;
    text-align: center;
    position: relative;
    text-decoration: none;
    height: 255px;
}
.category .category-descr{
    color: #646464;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 5px;
}
.category .category-item h3{
    color: #545454;
    font-size: 15px;
    font-weight: 900;
    margin-top: 25px;
}
.category .category-item img{
    margin: 0 auto;
    padding-top: 20px;
}
.category .category-item .img-hold{
    height: 190px;
}
.category .category-item .category-models{
    position: absolute;
    font-weight: 900;
    top: -19px;
    right: 24px;
    z-index: 5;
}
.category .category-item .category-models div{
    display: inline-block;
    padding-top: 16px;
    color: #e33f38;
    text-transform: uppercase;
}
.category .category-item .category-models div:first-child{
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    width: 55px;
    height: 55px;
    border-radius: 27px;
    background-color: #e33f38;
    margin-right: 8px;
}
.category .category-el:hover .category-item{
    opacity: 0.4;
    border: 2px solid #646464;
    border-radius: 4px;
    transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
}
.category .category-el:hover img{
    padding-top: 18px;
}
.category .category-el:hover .category-models{
    top: -21px;
    right: 22px;
}
.category .category-el:hover h3{
    margin-top: 23px;
}
.category .button-holder button{
    width: 165px;
    padding: 5px 20px;
    margin-bottom: 33px;
}
.category .category-el{
    position: relative;
}
.category .button-holder{
    opacity: 0;
    position: absolute;
    top: 70px;
    left: 45px;
}
.category .category-el:hover .button-holder{
    opacity: 1;
    transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
}
.plus{
    background: url("../images/bg-fon2.png") no-repeat bottom center;
    background-attachment: fixed;
    min-height: 575px;
}
.plus h2{
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 60px;
    text-align: center;
}
.plus .plus-el{
    display: block;
    padding-top: 75px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    font-weight: 200;
    background-position: top center;
    background-repeat: no-repeat;
}
.plus .plus-el h3{
    font-size: 18px;
    font-weight: 500;
}
.plus .plus-el1{
    background-image: url("../images/el1.png");
}
.plus .plus-el2{
    background-image: url("../images/el2.png");
}
.plus .plus-el3{
    background-image: url("../images/el3.png");
}
.plus .plus-el4{
    background-image: url("../images/el4.png");
}
.plus .plus-el5{
    background-image: url("../images/el5.png");
}
.plus .plus-el6{
    background-image: url("../images/el6.png");
}
.plus .plus-el:hover{
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}
.plus .plus-el1:hover{
    background-image: url("../images/el1h.png");
}
.plus .plus-el2:hover{
    background-image: url("../images/el2h.png");
}
.plus .plus-el3:hover{
    background-image: url("../images/el3h.png");
}
.plus .plus-el4:hover{
    background-image: url("../images/el4h.png");
}
.plus .plus-el5:hover{
    background-image: url("../images/el5h.png");
}
.plus .plus-el6:hover{
    background-image: url("../images/el6h.png");
}
.plus .more-info,
.wedo .more-info{
    color: #ffffff;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    width: 320px;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
}
.plus .more-info button,
.wedo .more-info button{
    font-size: 16px;
    padding: 23px 19px;
    margin-right: 55px;
}
.plus .more-info:after,
.wedo .more-info:after{
    content: "";
    width: 82px;
    height: 76px;
    background-image: url("../images/info.png");
    position: absolute;
    right: -10px;
}
.factory{
    background: #fafafa url("../images/bg-factory.png") no-repeat right;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 85px;
}
.factory .factory-item{
    position: relative;
}
.factory .factory-item .factory-name{
    position: absolute;
    /*background: url("../images/factory-name.png") no-repeat;*/
    width: 375px;
    height: 65px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    top: -20px;
    right: -1px;
    padding-top: 14px;
    z-index: 15;
}

.factory .factory-item .factory-name-bg{
    width: 371px;
    height: 65px;
    border-radius: 8px;
    background-color: #e33f38;
    position: absolute;
    z-index: 10;
    top: -20px;
    transform: skewX(-4deg);
    right: 0;
}
.about-bg{
    min-height: 418px;
    background: url("../images/bg-about.png") no-repeat left;
}
.about h2{
    margin-bottom: 20px;
    text-align: right;
    padding-right: 25px;
}
.about .about-text{
    font-size: 16px;
    line-height: 24px;
    color: #646464;
    text-align: right;
    padding-right: 25px;
    border-right: 2px solid #e33f38;
    max-width: 800px;
}
.about .about-text p{
    margin-bottom: 24px;
}
footer{
    background-color: #e7e7e7;
    padding-top: 28px;
    padding-bottom: 18px;
}
footer .copyright{
    padding: 13px 40px;
    font-size: 12px;
    color: #404040;
    text-align: right;
    border-right: 1px solid #bebebe;
}
.footnav li a{
    font-size: 12px;
    font-weight: 900;
    color: #404040;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 25px;
}
.footnav li a:hover{
    background-color: #e7e7e7;
    color: #e33f38;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}
.footbottom .nav-lang div{
    float: left;
    font-size: 12px;
    line-height: 14px;
    width: 110px;
    text-align: right;
    margin-top: 3px;
    margin-right: 15px;
}
.footbottom .nav-lang{
    margin-left: 50px;
    margin-top: 40px;
}
.footbottom .logo-studio a{
    color: #404040;
    border-bottom: 1px solid #c5c5c5;
}
.footbottom .logo-studio a:hover{
    border-bottom: 1px solid #26a6ff;
    text-decoration: none;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}
.footbottom .logo-studio{
    background: url("../images/logo-studio.png") no-repeat right;
    padding-right: 20px;
    width: 205px;
    height: 39px;
    padding-top: 9px;
    margin-top: 32px;
}

.cat1{
    animation-delay: .6s;
}
.cat2{
    animation-delay: .4s;
}
.cat3{
    animation-delay: .2s;
}
.plus-el2{
    animation-delay: .1s;
}
.plus-el5{
    animation-delay: .1s;
}
.plus-el3{
    animation-delay: .2s;
}
.plus-el4{
    animation-delay: .2s;
}
body{
    height: 100%;
}
#wrap {
    height: 100%;
}
.b-back {
    box-sizing: border-box;
    min-height: 100%;
    height: auto !important;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 170px;
}
footer {
    position: relative;
    z-index: 1;
    margin-top: -170px;
}


/*md*/
@media (max-width: 1200px) {

    .topmenu ul.nav li a {
        padding: 8px 11px;
    }
    .topmenu .nav-mail {
        margin-left: 0;
        margin-right: 0;
    }
    .mainmenu .nav1 li a {
        padding: 10px 13px;
    }
    .mainmenu .tel{
        margin-left: -50px;
    }
    .slider .carousel-caption {
        width: 350px;
        margin-right: -425px;
        font-size: 14px;
        line-height: 20px;
    }
    .slider .carousel-caption ul {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .slider .carousel-caption h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .category .button-holder {
        left: 28px;
    }
    .factory .factory-item .factory-name {
        width: 308px;
        font-size: 20px;
        background-size: 100%;
    }
    footer .copyright {
        padding: 13px 15px 13px 0;
    }
    .footnav li a {
        padding: 15px 17px;
    }
}
/*sm*/
@media (max-width: 992px){
    .topmenu .navbar-collapse,
    .topmenu .container-fluid,
    .topmenu .col-sm-7{
        padding-right: 0;
    }
    .topmenu ul.nav li a {
        padding: 8px;
    }
    .topmenu ul.nav {
        margin-top: 18px;
    }
    .topmenu .nav-search {
        margin-top: 5px;
    }
    .mainmenu .logo {
        margin-left: 0;
    }
    .mainmenu .row {
        margin-left: -15px;
    }
    .slider .item img{
        width: 100%;
    }
    .slider{
        background-image: url("../images/slider.png");
        background-size: cover;
        background-position: right;
    }
    .slider .carousel-caption {
        min-height: 330px;
        width: 375px;
        margin-right: 0;
        right: 0;
        float: right;
        position: relative;
    }
    .slider .carousel-caption ul {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .slider .carousel-caption h1 {
        margin-bottom: 9px;
    }
    .company .company-about {
        padding-right: 15px;
    }
    .row{
        margin-right: 0;
        margin-left: 0;
    }
    .category {
        padding-bottom: 30px;
    }
    .category .button-holder {
        left: 50%;
        margin-left: -82px;
    }
    .category .category-descr {
        margin-bottom: 50px;
    }
    .plus .plus-el{
        min-height: 180px;
    }
    .plus .plus-el h3{
        margin-top: 10px;
    }
    .plus {
        background: url(../images/bg-fon.png) no-repeat top;
    }
    .plus h2 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .plus .more-info {
        margin-top: 0;
    }
    .factory {
        background: #fafafa url(../images/bg-factory.png) repeat-y right top;  border-bottom: 1px solid #e3e3e3;
        padding-bottom: 85px;
    }
    .factory .factory-item {
        max-width: 290px;
        width: 100%;
        margin: 15px auto;
    }
    .factory .factory-item .factory-name {
        width: 294px;
    }
    .footnav li a {
        padding: 6px 17px;
    }
    .about{
        margin-bottom: 20px;
    }
    .about .about-text p:last-child {
        margin-bottom: 0;
    }
}
/*xs*/
@media (max-width: 768px) {
    .topmenu .navbar-collapse, .topmenu .container-fluid, .topmenu .col-sm-7 {
        padding-right: 15px;
    }
    .topmenu ul.nav {
        margin-left: 0;
        margin-top: 55px;
    }
    .topmenu .navbar button{
        margin-right: -15px;
        padding-right: 0;
        right: 0;
        position: absolute;
        z-index: 15;
    }
    .topmenu .nav-mail,
    .topmenu .nav-lang,
    .topmenu .nav-search{
        z-index: 10;
    }
    .topmenu .navbar button .icon-bar{
        background-color: #e33f38;
        width: 30px;
        height: 4px;
        border-radius: 2px;
    }
    .topmenu .nav-search {
        margin-right: 30px;
    }
    .topmenu .navbar {
        margin-top: -45px;
    }
    .mainmenu .row {
        margin-left: 0;
    }
    .mainmenu .nav li{
        float: left;
    }
    .mainmenu .nav2{
        margin-bottom: 20px;
    }
    .mainmenu .logo {
        margin: 0 auto;
        width: 138px;
    }
    .mainmenu .tel {
         margin-left: 0;
    }
    .mainmenu .basket {
        float: right!important;
        margin-left: 0;
        margin-top: 19px;
    }
    .slider .carousel-caption {
        width: 290px;
        min-height: 350px;
        margin-right: -165px;
        right: 50%;
    }
    .company h2, .category h2, .factory h2, .about h2, .plus h2{
        font-size: 24px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .category .category-el {
        max-width: 290px;
        width: 100%;
        margin: 15px auto;
    }
    .category .category-descr {
        max-width: 350px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .category {
        padding-bottom: 0;
    }
    .plus {
        background: url(../images/bg-fon.png) repeat-y top;
        padding-bottom: 20px;
    }
    .plus .more-info button,
    .wedo .more-info button{
        font-size: 14px;
        padding: 15px;
         margin-right: 55px;
    }
    .plus .more-info,
    .wedo .more-info{
        width: 290px;
    }
    .plus .more-info:after,
    .wedo .more-info:after {
        right: 0;
    }

    .factory .factory-item {
        max-width: 260px;
        width: 100%;
        margin: 15px auto;
    }
    .factory .factory-item .factory-name {
        width: 264px;
    }
    .mainmenu .tel, .footbottom .tel {
        margin-top: 10px;
    }
    .footbottom .nav-lang {
       margin: 20px auto;
        width: 240px;
    }
    .footbottom .logo-studio {
        margin: 15px auto;
    }
}

body{
    position: relative;
}
.support{
    position: fixed;
    background-color: #00488a;
    height: 0;
    opacity: 0;
    visibility: hidden;
    top: 0;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    line-height: 24px;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: 30;
}
.search{
    position: fixed;
    background-color: #e33f38;
    height: 0;
    opacity: 0;
    visibility: hidden;
    top: 0;
    width: 100%;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: 30;
}
.support.open {
    opacity: 1;
    visibility: visible;
    height: 600px;
}
.search.open {
    opacity: 1;
    visibility: visible;
    height: 170px;
}
.support input{
    width: 260px;
    height: 36px;
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    padding: 6px 20px;
}
.support .form-control:focus {
    border-color: #26a6ff;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(38,166,255,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(38,166,255,.6);
}
.support button{
    margin-top: 65px;
    font-size: 16px;
}
.support .form-holder{
    width: 570px;
    margin: 65px auto;
}
.close-b{
    background: url("../images/close.png");
    width: 49px;
    height: 47px;
    opacity: 0.8;
}
.support .close-b{
    display: block;
    margin: 64px auto;
}
.search .close-b{
    display: inline-block;
    margin-left: 40px;
    vertical-align: bottom;
}
.close-b:hover{
    opacity: 1;
    transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
}
.support .animate,
.search .animate{
    animation-delay: .8s;
}
.search>div{
    width: 600px;
    padding-top: 50px;
}
.search input{
    padding: 15px;
    width: 490px;
    height: 50px;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.search input::-webkit-input-placeholder {color:#ffffff;}
.search input::-moz-placeholder          {color:#ffffff;}/* Firefox 19+ */
.search input:-moz-placeholder           {color:#ffffff;}/* Firefox 18- */
.search input:-ms-input-placeholder      {color:#ffffff;}

.search input:focus{
    outline: -webkit-focus-ring-color none;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}
/*-------ABOUT-------*/

.a-company .breadcrumb {
    padding: 8px 11px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}
.a-company .breadcrumb>li+li:before {
    padding: 0 5px;
    color: #7b7b7b;
    content: "–";
}
.a-company .breadcrumb li,
.a-company .breadcrumb li a{
    font-size: 10px;
    color: #7b7b7b;
    text-transform: uppercase;
}
.a-company{
    border-top: 1px solid #e3e3e3;
}
.a-company h1{
    font-size: 36px;
    color: #404040;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    margin-bottom: 35px;
}
.a-company h1:before,
.a-company h1:after{
    content: "";
    height: 1px;
    width: 158px;
    background-color: #e33f38;
    display: inline-block;
    margin-bottom: 12px;
}
.a-company h1:after{
    margin-left: 12px;
}
.a-company h1:before{
    margin-right: 12px;
}
.a-company .about-leadin{
    text-align: center;
    padding: 0 170px;
    margin-bottom: 37px;
}
.a-company .about1 img{
    float: right;
}
.a-company .about1{
    padding-right: 0;
}
.a-company .about2{
    padding-left: 0;
}
.wedo .more-info{
    color: #646464;
    margin-left: 0;
    text-align: left;
    margin-top: 30px;
}
.wedo h2,
.plus-about h2{
    color: #302f2f;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 55px;
    text-align: left;
}
.plus-about h2{
    margin-bottom: 40px;
}
.wedo .wedo-text{
    color: #646464;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}
.wedo .wedo-text2{
    color: #909090;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 24px;
    margin-top: 109px;
    font-style: italic;
}
.plus-about{
    background: none;
    min-height: 300px;
    padding-bottom: 130px;
}
.plus-about .plus-el1{
    background-image: url("../images/el1r.png");
}
.plus-about .plus-el2{
    background-image: url("../images/el2r.png");
}
.plus-about .plus-el3{
    background-image: url("../images/el3r.png");
}
.plus-about .plus-el4{
    background-image: url("../images/el4r.png");
}
.plus-about .plus-el5{
    background-image: url("../images/el5r.png");
}
.plus-about .plus-el6{
    background-image: url("../images/el6r.png");
}
.plus-about .plus-el{
    color: #646464;
}
.plus-about .plus-el h3{
    color: #e33f38;
}
.plus-about .in-numbers{
    font-size: 16px;
    color: #646464;
}
.plus-about .in-numbers span{
    font-size: 60px;
    font-weight: 500;
    color: #e33f38;
    vertical-align: middle;
    padding: 0 8px;
}
/*sm*/
@media (max-width: 992px){
    .a-company .about-leadin {
        padding: 0;
    }
    .wedo .wedo-text2 {
        margin-top: 30px;
    }
    .wedo .more-info {
        margin: 0 auto;
    }
    .plus-about .in-numbers{
        text-align: center;
    }
}
/*xs*/
@media (max-width: 768px){
    .a-company h1{
        font-size: 20px;
        margin-bottom: 7px;
    }
    .a-company h1:before, .a-company h1:after {
        width: 15px;
    }
    .plus-about .in-numbers span {
        font-size: 30px;
    }
}



/*-------CATALOG-------*/

.products .show-pr{
    font-size: 12px;
    text-transform: uppercase;
    color: #888787;
}
.products .show-pr select{
    color: #555555;
    font-size: 14px;
    border: 1px solid #e33f38;
    margin-left: 5px;
}
.products .show-pr select:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.products .pagin{
    overflow: hidden;
    list-style: none;
    float: right;
}
.products .pagin li{
    float: left;
}
.products .pagin li a{
    color: #e33f38;
    display: block;
    padding: 5px 11px;
    border-radius: 3px;
    text-decoration: none;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}
.products .pagin li a:hover,
.products .pagin li a.active{
    color: #ffffff;
    background-color: #e33f38;
}
.products .product-el{
    width: 202px;
    position: relative;
    min-height: 252px;
    margin-bottom: 10px;
}
.products .product-item{
    display: block;
    text-decoration: none;
    color: #646464;
    text-align: center;
    padding: 20px 0;
}
.products .product-item .img-hold img{
    margin: 0 auto;
}
.products .product-item h3{
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 4px;
}
.products .product-item .model{
    font-size: 14px;
    text-decoration: underline;
}
.products .product-item .price{
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 3px;
}
.products .product-item .price .price-number{
    font-size: 15px;
    color: #e33f38;
    font-weight: 700;
}
.products .product-item .price .price-query{
    font-size: 12px;
    color: #cbcbcb;
    font-weight: 700;
}
.products .product-item .price .glyphicon{
    font-size: 10px;
    top: 0;
}
.blue-btn{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 35px;
    background-color: #0068c9;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}
.blue-btn:hover{
    background-color: rgba(63, 125, 201, 0.7);
    -webkit-transition: ease-in all 0.3s;
    -moz-transition: ease-in all 0.3s;
    transition: ease-in all 0.3s;
}
.blue-btn:focus {
    outline: -webkit-focus-ring-color auto 0;
}
.products .product-el .blue-btn,
.products .product-el .red-btn{
    width: 115px;
    padding: 6px 0;
    font-size: 11px;
    margin-top: 9px;
}
.products .product-el .overinfo{
    font-size: 14px;
    color: #010101;
    text-align: center;
    font-weight: 700;
    padding: 15px 0;
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #d0d0d0;
    border-radius: 4px;
    opacity: 0;
}
.products .product-el:hover .overinfo{
    opacity: 1;
    transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
}
.products .product-el .quality-name{
    text-transform: uppercase;
}
.products .product-el .quality-value{
    font-size: 16px;
    color: #e33f38;
}
.products .product-el .quality-value span{
    font-size: 12px;
}
.products .prod-nav{
    border-top: 1px solid #e33f38;
    padding-top: 25px;
    margin-bottom: 10px;
}
.catalog-bottom{
    font-size: 16px;
    line-height: 24px;
    color: #646464;
    padding-bottom: 25px;
}
.catalog-bottom ul{
    padding-left: 20px;
    margin: 25px 0;
}
.catalog-bottom .catalog-info{
    margin-top: 50px;
}
/*sm*/
@media (max-width: 992px){
    .a-company h1:before, .a-company h1:after {
        width: 155px;
    }
    .catalog-bottom .catalog-info {
        margin-top: 20px;
    }
    .catalog-bottom img{
        margin-top: 30px;
    }
}
/*xs*/
@media (max-width: 768px){
    .a-company h1:before, .a-company h1:after {
        width: 0;
    }
    .products .show-pr {
        margin-bottom: 20px;
    }
    .products .pagin {
        float: left;
        padding-left: 0;
    }
    .products .product-el {
        margin: 0 auto;
    }
}


/*---------CART-------*/

.cart .lSSlideOuter.vertical .lSGallery {
    left: 0;
}
.cart .lSSlideOuter {
    padding-left: 120px;
    padding-right: 0!important;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 0;
    opacity: 0.4;
}
.cart .lSSlideOuter .lSPager.lSGallery li {
    height: 115px!important;
}
.lightSlider.lSSlide li{
    position: relative;
}
.lightSlider.lSSlide li.active:before{
    content: "";
    background: url("../images/search-icon.png");
    width: 109px;
    height: 109px;
    top: 50%;
    margin-top: -55px;
    left: 50%;
    margin-left: -55px;
    position: absolute;
    opacity: 0.4;
    cursor: pointer;
}
.lightSlider.lSSlide li.active:hover:before {
    opacity: 1;
    transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
}


.cart h1{
    margin-bottom: 50px;
}
.cart-info h2{
    font-size: 14px;
    color: #646464;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
}
.cart .charact{
    list-style: none;
    padding-left: 0;
    color: #646464;
    font-size: 14px;
    max-width: 400px;
}
.cart .charact li{
    border-bottom: 1px dotted #646464;
    line-height: 17px;
    margin: 10px 0;
}
.cart .charact li span{
    border-bottom: 3px solid #fff;
}
.cart .charact li div{
    border-bottom: 3px solid #fff;
    float: right;
    color: #302f2f;
}
.cart .cart-price{
    overflow: hidden;
    max-width: 400px;
    margin-top: 25px;
}
.cart .cart-price>div{
    font-size: 18px;
    font-weight: 500;
    color: #646464;
    text-transform: uppercase;
    float: left;
}
.cart .cart-price>div .cart-price-num{
    font-size: 30px;
    font-weight: 700;
    color: #e33f38;
}
.cart .cart-price button{
    float: right;
    margin-top: 10px;
}
.cart .cart-descr{
    font-size: 16px;
    line-height: 24px;
    color: #646464;
    margin-top: 30px;
}
.selection{
    padding-bottom: 75px;
}
.selection h2{
    font-size: 20px;
    color: #302f2f;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 35px;
}
.selection h2:before,
.selection h2:after{
    content: "";
    height: 1px;
    width: 158px;
    background-color: #e33f38;
    display: inline-block;
    margin-bottom: 8px;
}
.selection h2:after{
    margin-left: 10px;
}
.selection h2:before{
    margin-right: 10px;
}
.selection h3{
    color: #403f3f;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}
.selection ul{
    padding-left: 0;
    list-style: none;
}
.selection li>a{
    color: #646464;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}
.selection li{
    margin-bottom: 10px;
}
.selection li>a:hover{
    text-decoration: none;
    border-bottom: 1px solid #e33f38;
}


/*md*/
@media (max-width: 1200px){
    .selection h2:before, .selection h2:after {
        width: 140px;
    }
}
/*sm*/
@media (max-width: 992px){

    .cart h1:before, .cart h1:after {
        width: 50px;
    }
    .lightSlider.lSSlide li.active:before {
        margin-left: -120px;
    }
    .cart-info h2 {
        text-align: center;
    }
    .cart .charact,
    .cart .cart-price{
        max-width: 400px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .selection h2:before, .selection h2:after {
        width: 0;
    }
}
/*xs*/
@media (max-width: 768px){
    .cart .lSSlideOuter {
        padding-left: 69px;
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
    }
    .cart .lSSlideOuter img{
        max-height: 250px;
    }
    .cart .lSSlideOuter .lSPager.lSGallery li {
        height: 80px!important;
    }
    .lightSlider.lSSlide li.active:before {
        width: 0;
    }
    .cart h1:before, .cart h1:after {
        width: 0;
    }
    .cart .cart-price>div {
        font-size: 14px;
    }
    .cart .cart-price>div .cart-price-num {
        font-size: 20px;
    }
    .cart .cart-price button {
        margin-top: 0;
    }
    .selection h3,
    .selection li{
        text-align: center;
    }
}

/*-------CONTACTS-------*/

.contacts .country-el{
    display: block;
    padding: 17px;
    padding-bottom: 3px;
    width: 142px;
    border-radius: 4px;
    margin: 0 auto;
}
.contacts .country-el h2{
    font-size: 24px;
    color: #919090;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}
.contacts .country-el .mini-map{
    background-position: left center;
    margin: 0 auto;
    background-repeat: no-repeat;
}
.contacts .country-el .ru-map{
    background-image: url("../images/ru-map.png");
    width: 104px;
    height: 108px;
}
.contacts .country-el .it-map{
    background-image: url("../images/it-map.png");
    width: 70px;
    height: 108px;
}
.contacts .country-el .eng-map{
    background-image: url("../images/eng-map.png");
    width: 66px;
    height: 108px;
}
.contacts .country-el:hover,
.contacts .country-el.active{
    text-decoration: none;
    background-color: #e33f38;
    -webkit-transition: ease-in all 0.3s;
    -moz-transition: ease-in all 0.3s;
    transition: ease-in all 0.3s;
}
.contacts .country-el:hover .mini-map,
.contacts .country-el.active .mini-map{
    background-position: right center;
}
.contacts .country-el:hover h2,
.contacts .country-el.active h2{
    color: #ffffff;
}
.contacts h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #302f2f;
    font-weight: 500;
    width: 630px;
    margin: 50px auto;
    border-bottom: 1px solid #e33f38;
    padding-bottom: 5px;
}
.contacts .press-logo{
    position: absolute;
    top: -45px;
    left: 100px;
}
.contacts .company-details{
    position: relative;
    padding: 34px;
    background-color: #f2f2f2;
    font-size: 16px;
    line-height: 24px;
    color: #646464;
}
.contacts .company-details .company-name{
    text-transform: uppercase;
    font-size: 18px;
    color: #302f2f;
    font-weight: 700;
    margin-bottom: 16px;
}
.contacts .company-details .company-contacts{
    color: #302f2f;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 10px;
}
.contacts .company-details a{
    font-size: 16px;
    color: #e33f38;
    border-bottom: 1px solid rgba(227, 63, 56, 0.5);
}
.contacts .company-details a:hover{
    text-decoration: none;
    border-bottom: 1px solid #e33f38;
    -webkit-transition: ease-in all 0.3s;
    -moz-transition: ease-in all 0.3s;
    transition: ease-in all 0.3s;
}
.contacts .company-details:before {
    content: "";
    background: url("../images/triangle.png");
    width: 28px;
    height: 32px;
    position: absolute;
    right: -28px;
    top: 50%;
    margin-top: -16px;
}
.contacts .map{
    float: right;
    position: relative;
}
.contacts .logo-map{
    position: absolute;
    right: 30%;
    top: 40%;
    background: url("../images/press-logo.png");
    width: 143px;
    height: 52px;
}
.contacts .map-descr{
    font-size: 16px;
    line-height: 24px;
    margin-top: 45px;
    margin-bottom: 60px;
    color: #646464;
    text-align: center;
}

.feedback{
    background-color: #e33f38;
    padding-bottom: 40px;
}
.feedback h2{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
}
.feedback .form-holder{
    width: 560px;
    margin: 0 auto;
}
.feedback .form-holder input{
    width: 260px;
    height: 36px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 18px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
}
.feedback textarea{
    width: 540px;
    height: 98px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 15px;
}
.feedback .form-holder input:focus,
.feedback textarea:focus{
    background-color: rgba(255, 255, 255, 1);
    -webkit-transition: ease-in all 0.3s;
    -moz-transition: ease-in all 0.3s;
    transition: ease-in all 0.3s;
    outline: -webkit-focus-ring-color auto 0;
    box-shadow: none;
}
.yellow-btn{
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    width: 214px;
    height: 61px;
    /*padding: 5px 35px;*/
    background-color: #ffba00;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    margin: 10px auto;
    display: block;
}
.yellow-btn:hover{
    background-color: rgba(255, 186, 0, 0.6);
    -webkit-transition: ease-in all 0.3s;
    -moz-transition: ease-in all 0.3s;
    transition: ease-in all 0.3s;
}
.yellow-btn:focus {
    outline: -webkit-focus-ring-color auto 0;
}
/*sm*/
@media (max-width: 992px){
    .contacts h1:before, .contacts h1:after {
        width: 100px;
    }
}
/*xs*/
@media (max-width: 768px){
    .contacts h1{
        margin-top: 20px;
    }
    .contacts h1:before, .contacts h1:after {
        width: 0;
    }
    .contacts h3 {
        width: 100%;
    }
    .contacts .company-details:before {
        width: 0;
    }
    .contacts .map-descr {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .feedback .form-holder {
        max-width: 260px;
        width: 100%;
        margin: 0 auto;
    }
    .feedback .form-holder input {
        max-width: 260px;
        width: 100%;
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .feedback textarea {
        width: 260px;
    }
}


/*------WHERE-BUY-----*/
.where-buy .map{
    margin-left: -15px;
}
.where-buy .map img{
    width: 100%;
    height: 165px;
}
.where-buy .company-details:before {
    width: 0;
}
.where-buy .company-details{
    margin-right: -15px;
    height: 164px;
    position: relative;
}
.where-buy .about-leadin{
    font-size: 16px;
    color: #646464;
}
.where-buy .company-details .company-contacts {
    margin-top: 0;
}
.where-buy .company-details .pull-left{
    margin-right: 50px;
    margin-left: 20px;
}
.where-buy .company-details a {
    display: block;
}
.where-buy .company-details:after{
    content: "карта";
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    background: url("../images/marker-map.png");
    width: 126px;
    height: 31px;
    padding: 1px 67px 5px 17px;
    position: absolute;
    top: 66px;
    right: -106px;
    z-index: 20;
}
.buy-diller{
    font-size: 16px;
    color: #646464;
    line-height: 24px;
    margin-top: 80px;
}
.buy-diller p{
    margin-bottom: 24px;
}
.buy-diller .diller-plus{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #302f2f;
}
.buy-diller ul{
    list-style: none;
    padding-left: 20px;
    font-size: 14px;
    color: #909090;
    font-style: italic;
    margin-top: 15px;
}
.buy-diller ul li:before{
    content: "—";
    color: #e33f38;
    position: absolute;
    left: 15px;
}
.support-b{
    background: url("../images/where-bg.png") no-repeat top center;
    min-height: 298px;
}
.support-b .support{
    position: relative;
    background-color: transparent;
    height: auto;
    opacity: 1;
    visibility: visible;;
}
.support-b h2{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #302f2f;
    text-align: center;
    margin-top: 45px;
}
.support-b .support .form-holder {
    margin-top: 35px;
    margin-bottom: 40px;
}
.support-b .support button {
    margin-top: 25px;
}
.support-b .support input{
    border: none;
    box-shadow: none;
}

/*sm*/
@media (max-width: 992px){
    .where-buy .company-details {
        margin-right: 0;
    }
    .where-buy .company-details .pull-left {
        margin-right: 80px;
        margin-left: 60px;
    }
    .where-buy .company-details:after {
        width: 0;
        padding: 0;
    }
    .where-buy .map {
        margin-left: 0;
    }
    .buy-diller {
        margin-top: 40px;
    }
    .buy-diller ul {
        margin-bottom: 30px;
    }
}

/*xs*/
@media (max-width: 768px) {
    .where-buy .company-details {
        max-width: 290px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        overflow: hidden;
    }
    .where-buy .company-details .pull-left {
        margin-right: 0;
        margin-left: 0;
    }
    .where-buy .company-details .company-contacts {
        margin-top: 15px;
    }
    .where-buy .map img {
        height: auto;
        max-width: 290px;
    }
    .where-buy .map{
        margin: 0 auto;
        max-width: 290px;
        width: 100%;
        float: none;
    }
    .support {
        max-width: 290px;
        width: 100%;
    }
    .support .form-holder {
        max-width: 290px;
        width: 100%;
    }
    .support input {
        display: block;
        margin-top: 10px;
    }
    .support-b h2 {
        font-size: 18px;
        color: #302f2f;
        margin-top: 20px;
    }
    .support .form-holder,
    .support-b .support .form-holder {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .support-b .support button {
        margin: 15px auto 0;
        display: block;
    }
    .search input {
        padding: 15px;
        width: 200px;
        height: 50px;
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
}

/*-------SEARCH------*/

.search-title .about-leadin{
    font-size: 16px;
    color: #646464;
    padding: 0;
}
.search-b{
    background-color: #e33f38;
    padding: 35px 0;
}
.search-b .inp-holder{
    width: 293px;
    margin: 0 auto;
    overflow: hidden;
}
.search-b .inp-holder input{
    width: 260px;
    height: 36px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 15px;
    border: none;
    box-shadow: none;
    display: block;
    float: left;
}
.search-b .inp-holder input:focus {
    border-color: #26a6ff;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(38,166,255,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(38,166,255,.6);
}
.search-b .inp-holder .search-icon{
    background: url("../images/search.png") no-repeat right center;
    width: 30px;
    height: 36px;
    display: block;
    float: left;
    opacity: 0.6;
}
.search-b .inp-holder .search-icon:hover{
    opacity: 1;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}
.search-list{
    padding-bottom: 290px;
    background: url("../images/search-bg.png") no-repeat bottom right;
}
.search-list .search-item{
    text-align: center;
    font-size: 16px;
    color: #646464;
    margin-bottom: 50px;
}
.search-list .name-block{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    color: #302f2f;
    border-bottom: 1px solid #e33f38;
    margin-top: 35px;
    margin-bottom: 10px;
}
.search-list .product-code{
    color: #646464;
    text-decoration: none;
    border-bottom: 1px solid #646464;
}
.search-list .product-code:hover{
    color: #e33f38;
    border-bottom: 1px solid #e33f38;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}
.search-list .search-item img{
    padding-top: 10px;
}
.search-list .search-item .cart-price{
    padding-top: 55px;
}
.search-list .search-item .cart-price>div{
    font-size: 18px;
    font-weight: 500;
    color: #646464;
    text-transform: uppercase;
    float: left;
}
.search-list .search-item .cart-price>div .cart-price-num{
    font-size: 30px;
    font-weight: 700;
    color: #e33f38;
}
.search-list .search-item .btn-holder{
    padding-top: 60px;
}
.search-list .table th{
    font-size: 14px;
    font-weight: 500;
    color: #646464;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #e33f38;
    margin-bottom: 10px;
}
.search-list .table td{
    font-size: 16px;
    text-align: center;
    color: #646464;
    border-top: 0;
}
.search-list .table .strip td{
    padding: 3px;
    background-color: #e7e7e7;
}
.search-list .table .strip td:last-child{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.search-list .table .strip td:first-child{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.articles .prod-nav,
.search-list .prod-nav{
    border: none;
}
.articles .prod-nav .pagin,
.search-list .prod-nav .pagin{
    float: none;
    width: 260px;
    margin: 0 auto;
}

/*md*/
@media (max-width: 1200px){
    .search-list {
        background-size: 40%;
    }
}

/*xs*/
@media (max-width: 768px) {
    .search-list .search-item .cart-price>div {
        float: none;
    }
    .search-list .search-item .btn-holder {
        padding-top: 20px;
    }
    .search-list .search-item .cart-price {
        padding-top: 20px;
    }
    .search-list{
        padding-bottom: 40px;
        background: none;
    }
}

/*------ARTICLES-----*/

.articles{
    margin-bottom: 55px;
}
.article-item{
    margin-bottom: 25px;
}
.article-item .data-article{
    float: left;
    font-size: 14px;
    font-weight: 900;
    color: #e33f38;
    margin-right: 25px;
}
.article-item .name-article{
    float: left;
}
.article-item .name-article a{
    font-weight: 500;
    color: #646464;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid #646464;
}
.article-item .name-article a:hover{
    color: #e33f38;
    border-bottom: 1px solid #e33f38;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}
.article-item .content-article{
    font-size: 14px;
    line-height: 24px;
    color: #646464;
    margin-top: 15px;
}

@media (max-width: 1200px){
    .articles h1:before, .a-company h1:after {
        width: 90px;
    }

}
/*xs*/
@media (max-width: 768px) {
    .articles h1:before, .a-company h1:after {
        width: 0;
    }
    .articles h1 {
         margin-bottom: 25px;
     }
}

/*------PAGE404------*/

.page404{
    min-height: 676px;
    background: url("../images/404-bg.png");
}
.page404 .title-404{
    font-size: 100px;
    font-weight: 900;
    color: #e33f38;
    text-align: center;
    line-height: 1;
}
.page404 .title-404:before,
.page404 .title-404:after{
    content: "";
    height: 1px;
    width: 158px;
    background-color: #e33f38;
    display: inline-block;
    margin-bottom: 35px;
}
.page404 .title-404:after{
    margin-left: 20px;
}
.page404 .title-404:before{
    margin-right: 20px;
}
.page404 .subtitle-404{
    text-align: center;
    color: #e33f38;
    font-weight: 900;
    font-size: 30px;
}
.page404 .link-404{
    color: #ffffff;
    font-size: 16px;
    width: 155px;
    text-align: center;
    margin: 140px auto 0;
    font-weight: 700;
    line-height: 24px;
}
.page404 .link-404 a{
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    text-transform: uppercase;
}
.page404 .link-404 a:hover{
    color: #e33f38;
    border-bottom: 1px solid #e33f38;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    text-decoration: none;
}
/*xs*/
@media (max-width: 768px) {
    .page404 .title-404 {
        font-size: 80px;
    }
    .page404 .title-404:before,
    .page404 .title-404:after{
        width: 0;
    }
}